@using Shared.Utilities.Results.ComplexTypes
@model Entities.Concreate.Dtos.CategoryListDto
@{
    Layout = "_layout";
    ViewBag.Title = "Category Index";
}
@if (Model.ResultStatus == ResultStatus.Success)
{
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Kategoriler
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="categoriesTable" , width="%100" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Adı</th>
                            <th>Açıklaması</th>
                            <th>Aktif Mi?</th>
                            <th>Silinmiş Mi?</th>
                            <th>Note</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan Kullanıcı Adı</th>
                            <th>Son Düzenlenme Tarihi</th>
                            <th>Son Düzenleyen Kullanıcı Adı</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Adı</th>
                            <th>Açıklaması</th>
                            <th>Aktif Mi?</th>
                            <th>Silinmiş Mi?</th>
                            <th>Note</th>
                            <th>Oluşturulma Tarihi</th>
                            <th>Oluşturan Kullanıcı Adı</th>
                            <th>Son Düzenlenme Tarihi</th>
                            <th>Son Düzenleyen Kullanıcı Adı</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>@category.IsActive</td>
                                <td>@category.IsDeleted</td>
                                <td>@category.Note</td>
                                <td>@category.CreatedDate.ToShortDateString()</td>
                                <td>@category.CreatedByName</td>
                                <td>@category.ModifiedDate.ToShortDateString()</td>
                                <td>@category.ModifiedByName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section Scripts
    {
    <script>
        $(document).ready(function() {
            $('#categoriesTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: 'Ekle',
                        className:'btn btn-success',
                        action: function(e, dt, node, config) {
                            alert('Ekle Button activated');
                        }
                    },
                    {
                        text: 'Yenile',
                        className:'btn btn-warning',
                        action: function(e, dt, node, config) {
                            alert('Yenile Button activated');
                        }
                    }
                ]
            });
        });
    </script>
}